.div-registrar{
    width: 45%;
    margin-left: 28%;
    margin-top: 3%;
    padding: 0.50%;
    border-radius: 10px;
    background-color: #cdcdcd;
}

h1{
    margin-left: 25%;
}

select{
    border-radius: 10px;
}

input{
    border-radius: 10px;
}

textarea{
    border-radius: 10px;
    width: 80%;
}

.select-regis{
    width: 80%;
}

.div-radio > input{
    margin-left: 10px;
}

.form-group{
    width: 500px;
    margin-left: 14%;
}

#error{
    text-align: center;
    margin-left: 15%;
    width: 71%;
}
.table-tipo{
    margin-left: 30%;
}

#table-consulta{
    margin-left: 10%;
    width: 80%;
}

#div-consulta{
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
    padding: 0.50%;
    border-radius: 10px;
    background-color: #cdcdcd;
}
